body {text-align: center;}

.navbar{background-color: yellow;
overflow: hidden;}

.navbar a {float: left; color: brown;
padding: 14px 20px;}
.Navbar a:hover {background-color: darkred; }

.maintext { font-family: Times, serif; }